.special-product-card{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.special-product-card img{
    height: 100%;
    width: 100%;


    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.discount-till span{
    color: black;
    background-color: rgb(234, 163, 19);
}
.special-product-content{
    margin-left: 10px;
}