.famous-card {
    border-radius: 12px;
}
.famous-card img{
    padding-top:130px ;
    height: 100%;
    width: 100%;
 }
.famous-card .famous-content{
top: 15%;
left: 10%;
}
.famous-content h5{
font-size: 14px;
line-height: 20px;
font-weight: 400px;
color: white;
margin-bottom: 7px;
text-transform: uppercase;
}
.famous-content h6{
font-size: 20px;
line-height: 38px;
font-weight: 500;
color: white;
}
.famous-content p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}