:root{
    --color-bf4800: #bf4800;
    --color-1c1c1b: #1c1c1b;
}

.product-card{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.product-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.product-card img{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card .product-details h6{
 color: var(--color-bf4800);
 font-size: 13px;
}
.product-card .product-details h5{
 color: var(--color-131921);
 font-size: 15px;
}
.price{
font-size: 20px;
color: var(--color-1c1c1b);
}



